transformers==4.49.0
sentencepiece
sentence-transformers
torch
langchain==0.2.1
chromadb
gradio
huggingface-hub
faiss-cpu
openai
langchain_community
pypdf
google-search-results
pandasai
crewai
litellm>=1.35.6
langchain-experimental
chardet
numexpr
geopy
timezonefinder
openmeteo-requests
requests
python-dateutil
pinecone-client
langchain-pinecone
langsmith
phoenix
deepeval
google-genai
langgraph
langgraph-checkpoint
autogen
pyautogen
fastapi
uvicorn